body{

  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  


}
h1,h2,h3{
  color:red;
}
.card{
  height: 600px;
 
}
.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.top form{
margin: 20px;
}