body{

  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  


}
h1,h2,h3{
  color:#0004ff;
}
.card{
  height: 600px;
 
}
.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.top form{
margin: 20px;
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
}
quiz-text {
  color: #ff0000;
}