body{

  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1,h2,h3{
  color:#0004ff;
}
.card{
  height: 680px;
}
.center{
display: block;
margin-left: auto;
margin-right: auto;
}
.top form{
margin: 20px;
}
.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  
}
.quiz-text {
  margin-top: 50px;
  font-style: italic;
  font-size: 20px;
  color: #100dbd;

}